body {
    /* height: 100vh; */
    background: url("//images.pexels.com/photos/277667/pexels-photo-277667.jpeg?cs=srgb&dl=landscape-house-grass-277667.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

#app {
    height: 75%;
    margin: auto;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 1%;
    text-align: center;
}


