#main_content_single_house {
    margin: 2% auto;
}

#list_single_house{
    margin: 1% auto;
    box-shadow: 0 0 15px 0 #333;
    padding: 2%;
    min-width: 33%;
    max-width: 33%;
    background-color: rgba(255, 255, 255, .8);
}

#list_single_house h1 {
    text-transform: capitalize;
    text-align: center;
}

#list_single_house li:first-of-type {
    margin-bottom: 2%;
}

#home_link {
    /* margin-top: 10%; */
    margin: 3% auto 1% auto;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #333;
    padding: 1%;
    background-color: orange;
    color: white;
    border-radius: 10%;
}